---
- op: replace
  path: /spec/bootMACAddress
  value: '{{ item.interface_mac }}'
- op: replace
  path: /spec/bmc/address
  # yamllint disable-line rule:line-length
{% if item.type == "kvm"  %}
  value: redfish-virtualmedia+https://{{ item.kvm_host }}:8082/redfish/v1/Systems/{{ item.vm_id }}
{% endif %}
{% if item.type == "baremetal" %}
  value: redfish-virtualmedia://{{ item.baremetal_ip }}/redfish/v1/Systems/1/
{% endif %}
- op: replace
  path: /spec/bmc/credentialsName
  value: '{{ cluster_name }}-bmc-{{ item.name }}'
- op: replace
  path: /metadata/labels/infraenvs.agent-install.openshift.io
  value: infraenv
- op: replace
  path: /metadata/name
  value: '{{ cluster_name }}-{{ item.name }}'