---
- op: replace
  path: /spec/bootMACAddress
  value: {{ server.interface_mac }}
- op: replace
  path: /spec/bmc/address
  # yamllint disable-line rule:line-length
{% if virtual_machine | default(False) %}
  value: redfish-virtualmedia+https://{{ kvm_host }}:8082/redfish/v1/Systems/{{ vm_id }}
{% endif %}
- op: replace
  path: /spec/bmc/credentialsName
  value: '{{ cluster_name }}-bmc-super1'
- op: replace
  path: /metadata/labels/infraenvs.agent-install.openshift.io
  value: infraenv
- op: replace
  path: /metadata/name
  value: '{{ cluster_name }}-super1'
