---
- op: replace
  path: /spec/template/metadata/namespace
  value: '{{ cluster_name }}'
- op: remove
  path: /metadata/annotations/sealedsecrets.bitnami.com~1cluster-wide
  value: "true"
- op: remove
  # yamllint disable-line rule:line-length
  path: /spec/template/metadata/annotations/sealedsecrets.bitnami.com~1cluster-wide
  value: "true"
- op: replace
  path: /spec/encryptedData/.dockerconfigjson
  # yamllint disable-line rule:line-length
  value: {{ pull_secret_encrypted.stdout }}