apiVersion: v1
kind: Secret
metadata:
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  name: '{{ cluster_name }}-bmc-creds-secret-{{ item.name }}'
  namespace: '{{ cluster_name }}'
data:
  username: '{{ item.username | b64encode  }}'
  password: '{{ item.password | b64encode  }}'
type: Opaque
